
<div  
    th:if="${session.message}" 
    th:object="${session.message}"
    th:classappend="${session.message.type == 'blue' ? 'text-blue-700 bg-blue-100 border-blue-300' : 
                    (session.message.type == 'red' ? 'text-red-700 bg-red-100 border-red-300' : 
                    (session.message.type == 'green' ? 'text-green-700 bg-green-100 border-green-300' : 
                    (session.message.type == 'yellow' ? 'text-yellow-700 bg-yellow-100 border-yellow-300' : '')))}"
    th:fragment="messagebox" id="alert-small-1" class="w-auto inline-flex items-center p-1 pe-2 mb-4 text-sm text-fg-brand-strong rounded-full bg-brand-softer border border-brand-subtle" role="alert">
  <span class="bg-brand-soft text-fg-brand-strong py-0.5 px-2 rounded-full">Congratulations</span>
  <span th:text="*{content}"></span>
  <div class="ms-2 text-sm">
    <a href="/login" class="font-medium underline hover:no-underline">log in</a>
  </div>
  <svg class="w-4 h-4 ms-1 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
  <th:block th:text="${@SessionHelper.removeMessage()}"></th:block>
</div>
